{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Confirm {{ provider.name }} Login
                </div>
                <div class="card-body">
                    <p>You are about to sign in using your {{ provider.name }} account. If you wish to proceed, click
                        the "Continue" button.</p>
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Continue</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}