{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}

<h2>Your Cart</h2>
{% if cart %}
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Thumbnail</th>
                <th>Product</th>
                <th>Price</th>
                <th>Shipping</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart %}
            <tr>
                <td>
                    {% if item.thumbnail %}
                    <img src="{{ item.thumbnail.image.url }}" alt="{{ item.product.name }}" width="60" height="60">
                    {% else %}
                    No Image
                    {% endif %}

                </td>
                <td>{{ item.product.name }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.shipping_cost }}</td>
                <td>X{{ item.quantity }}</td>
                <td>{{ item.total_price }}</td>
                <td>
                    <form method="post" action="{% url 'remove_from_cart' item.product_id %}">
                        {% csrf_token %}
                        <input type="submit" value="Remove">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<a href="#" id="stripe-checkout-btn">Proceed to Stripe Checkout</a>
{% else %}
<p>Your cart is empty.</p>
{% endif %}

<script>
    document.getElementById('stripe-checkout-btn').addEventListener('click', function (e) {
        e.preventDefault();  // Prevent default action

        // First, make AJAX call to create the order
        fetch(`/create_order/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
        }).then(response => response.json()).then(data => {
            // Extract the order ID from the response
            var orderId = data.order_id;
            console.log("Order ID:", orderId);

            // Now, make the AJAX call to create Stripe session
            var stripe = Stripe('pk_test_wuEF85zmTLhJHgtL1wZUVWku003bmEKJ3y');

            fetch(`/auth/handle_payment/${orderId}/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
            }).then(response => response.json()).then(data => {
                // Use Stripe.js to redirect to the Stripe Checkout page with the session ID
                stripe.redirectToCheckout({
                    sessionId: data.session_id
                }).then(function (result) {
                    console.error(result.error.message);
                });
            }).catch(error => {
                console.error('Error when trying to create Stripe session:', error);
            });
        }).catch(error => {
            console.error('Error when trying to create order:', error);
        });
    });
</script>



{% endblock %}