{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}

<h2>Your Cart</h2>
{% if cart %}
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Thumbnail</th>
                <th>Product</th>
                <th>Price</th>
                <th>Shipping</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart %}
            <tr>
                <td>
                    {% if item.thumbnail %}
                    <img src="{{ item.thumbnail.image.url }}" alt="{{ item.product.name }}" width="60" height="60">
                    {% else %}
                    No Image
                    {% endif %}

                </td>
                <td>{{ item.product.name }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.shipping_cost }}</td>
                <td>X{{ item.quantity }}</td>
                <td>{{ item.total_price }}</td>
                <td>
                    <form method="post" action="{% url 'remove_from_cart' item.product_id %}">
                        {% csrf_token %}
                        <input type="submit" value="Remove">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<a href="{% url 'checkout' %}">Proceed to Checkout</a>
{% else %}
<p>Your cart is empty.</p>
{% endif %}



<script>
    // Assuming you've already initialized Stripe:
    var stripe = Stripe('pk_test_wuEF85zmTLhJHgtL1wZUVWku003bmEKJ3y');

    // When you get the session_id from your backend:
    stripe.redirectToCheckout({
        sessionId: session_id  // This is the session_id received from the backend
    }).then(function (result) {
        // If `redirectToCheckout` fails due to a browser or network
        // error, display the localized error message to your customer
        console.error(result.error.message);
    });

</script>

{% endblock %}