{% extends 'base.html' %}

{% block content %}
<h2>Checkout</h2>
{% if cart %}
<!-- Personal Details -->
<div class="row">
    <div class="col-md-6">
        <div class="container">
            <form method="post" id="payment-form" action="/auth/handle_payment/" novalidate>
                {% csrf_token %}
                {% load widget_tweaks %}
                <!-- Personal Details -->
                <div class="row">
                    <div class="col-md-6 form-group">
                        {{ form.first_name.label_tag }}
                        {{ form.first_name|add_class:"form-control" }}
                    </div>
                    <div class="col-md-6 form-group">
                        {{ form.last_name.label_tag }}
                        {{ form.last_name|add_class:"form-control" }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.email.label_tag }}
                    {{ form.email|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    {{ form.phone_number.label_tag }}
                    {{ form.phone_number|add_class:"form-control" }}
                </div>

                <!-- Billing Address -->
                <div class="row">
                    <div class="col-md-6 form-group">
                        {{ form.billing_address_line1.label_tag }}
                        {{ form.billing_address_line1|add_class:"form-control" }}
                    </div>
                    <div class="col-md-6 form-group">
                        {{ form.billing_address_line2.label_tag }}
                        {{ form.billing_address_line2|add_class:"form-control" }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        {{ form.billing_city.label_tag }}
                        {{ form.billing_city|add_class:"form-control" }}
                    </div>
                    <div class="col-md-6 form-group">
                        {{ form.billing_state.label_tag }}
                        {{ form.billing_state|add_class:"form-control" }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.billing_postal_code.label_tag }}
                    {{ form.billing_postal_code|add_class:"form-control" }}
                </div>

                <!-- Use different shipping address checkbox -->
                <div class="form-check">
                    {{ form.use_different_shipping_address }}
                    {{ form.use_different_shipping_address.label_tag }}
                </div>

                <!-- Shipping Address -->
                <div class="shipping-field">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            {{ form.shipping_first_name.label_tag }}
                            {{ form.shipping_first_name|add_class:"form-control" }}
                        </div>
                        <div class="col-md-6 form-group">
                            {{ form.shipping_last_name.label_tag }}
                            {{ form.shipping_last_name|add_class:"form-control" }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            {{ form.shipping_address_line1.label_tag }}
                            {{ form.shipping_address_line1|add_class:"form-control" }}
                        </div>
                        <div class="col-md-6 form-group">
                            {{ form.shipping_address_line2.label_tag }}
                            {{ form.shipping_address_line2|add_class:"form-control" }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            {{ form.shipping_city.label_tag }}
                            {{ form.shipping_city|add_class:"form-control" }}
                        </div>
                        <div class="col-md-6 form-group">
                            {{ form.shipping_state.label_tag }}
                            {{ form.shipping_state|add_class:"form-control" }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form.shipping_postal_code.label_tag }}
                        {{ form.shipping_postal_code|add_class:"form-control" }}
                    </div>
                </div>

                <!-- Stripe Payment Element -->
                <div id="payment-element"></div>


                <!-- Submit Button -->
                <button type="submit" class="btn btn-outline-main mt-3">Place Order</button>
            </form>
        </div>
    </div>
    <div class="col-md-6">

        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Thumbnail</th>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Shipping</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart %}
                    <tr>
                        <td>
                            {% if item.thumbnail %}
                            <img src="{{ item.thumbnail.image.url }}" alt="{{ item.product.name }}" width="60"
                                height="60">
                            {% else %}
                            No Image
                            {% endif %}

                        </td>
                        <td>{{ item.product.name }}</td>
                        <td>{{ item.price }}</td>
                        <td>{{ item.shipping_cost }}</td>
                        <td>X{{ item.quantity }}</td>
                        <td>{{ item.total_price }}</td>
                        <td>
                            <form method="post" action="{% url 'remove_from_cart' item.product_id %}">
                                {% csrf_token %}
                                <input type="submit" value="Remove">
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Totals</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Total Product Price</td>
                        <td>{{ cart.get_total_price }}</td>
                    </tr>
                    <tr>
                        <td>Total Shipping Cost</td>
                        <td>{{ cart.get_shipping_total }}</td>
                    </tr>
                    <tr>
                        <td>Combined Total</td>
                        <td>{{ cart.get_combined_total }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    {% else %}
    <p>Your cart is empty. Please add items to the cart first.</p>
    {% endif %}



    <script>
        // Step 1: Initialize Stripe with your publishable key
        var stripe = Stripe('pk_test_wuEF85zmTLhJHgtL1wZUVWku003bmEKJ3y');
        var clientSecret = "{{ client_secret }}";

        // Step 2: Create an instance of Elements with the clientSecret
        var elements = stripe.elements({
            clientSecret: clientSecret
        });

        // Step 3: Create the card element
        var cardElement = elements.create('payment');

        // Step 4: Mount the element to the div
        cardElement.mount('#payment-element');

        // Step 5: Handle form submission
        var form = document.getElementById('payment-form');

        form.addEventListener('submit', function (event) {
            event.preventDefault();

            stripe.createPaymentMethod('card', cardElement).then(function (result) {
                if (result.error) {
                    console.error(result.error.message);
                } else {
                    // Add the payment method ID to the form as a hidden field
                    var hiddenInput = document.createElement('input');
                    hiddenInput.setAttribute('type', 'hidden');
                    hiddenInput.setAttribute('name', 'payment_method');
                    hiddenInput.setAttribute('value', result.paymentMethod.id);
                    form.appendChild(hiddenInput);

                    // Now submit the form to your server with the payment method ID
                    fetch(form.action, {
                        method: 'POST',
                        body: new FormData(form),
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}'
                        }
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                window.location.href = data.redirect_url;
                            } else {
                                console.error('Order placement failed:', data.error);
                            }
                        })
                        .catch(error => {
                            console.error('Error submitting the form:', error);
                        });
                }
            });
        });

    </script>


    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const useDifferentShippingAddressCheckbox = document.querySelector('#id_use_different_shipping_address');
            const shippingFields = document.querySelectorAll('.shipping-field');
            const shippingInputs = document.querySelectorAll('.shipping-field input');

            function toggleShippingFields() {
                shippingFields.forEach(field => {
                    if (useDifferentShippingAddressCheckbox.checked) {
                        field.style.display = 'block';
                    } else {
                        field.style.display = 'none';
                    }
                });

                // Set or unset the required attribute based on checkbox state
                shippingInputs.forEach(input => {
                    if (useDifferentShippingAddressCheckbox.checked || input.id === 'id_shipping_address_line2') {
                        input.required = true;
                    } else {
                        input.required = false;
                    }
                });
            }

            useDifferentShippingAddressCheckbox.addEventListener('change', toggleShippingFields);
            toggleShippingFields();  // Call once to set the initial state

            // Copy billing values to shipping when form is submitted
            document.getElementById('payment-form').addEventListener('submit', function (e) {
                if (!useDifferentShippingAddressCheckbox.checked) {
                    document.getElementById('id_shipping_first_name').value = document.getElementById('id_first_name').value;
                    document.getElementById('id_shipping_last_name').value = document.getElementById('id_last_name').value;
                    document.getElementById('id_shipping_address_line1').value = document.getElementById('id_billing_address_line1').value;
                    document.getElementById('id_shipping_address_line2').value = document.getElementById('id_billing_address_line2').value || "";  // Default to empty string if no value
                    document.getElementById('id_shipping_city').value = document.getElementById('id_billing_city').value;
                    document.getElementById('id_shipping_state').value = document.getElementById('id_billing_state').value;
                    document.getElementById('id_shipping_postal_code').value = document.getElementById('id_billing_postal_code').value;
                }
            });
        });


    </script>


    {% endblock %}