{% extends "base.html" %}

{% block content %}
<!-- Contact Seller Modal -->
<div class="modal fade" id="contactSellerModal" tabindex="-1" aria-labelledby="contactSellerModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="contactSellerModalLabel">Contact Seller</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="contactSellerForm" method="post" action="{% url 'order-page' pk=order.id %}">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label for="{{ form.subject.id_for_label }}" class="form-label">Subject</label>
                        <input type="text" class="form-control" id="{{ form.subject.id_for_label }}"
                            name="{{ form.subject.name }}" placeholder="Subject" required>
                    </div>

                    <div class="mb-3">
                        <label for="{{ form.message.id_for_label }}" class="form-label">Message</label>
                        <textarea class="form-control" id="{{ form.message.id_for_label }}"
                            name="{{ form.message.name }}" rows="4" placeholder="Your message..." required></textarea>
                    </div>

                    <div class="d-grid">
                        <button class="btn btn-primary btn-lg" type="submit">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<h2 class="mb-4">Order Details</h2>
<div class="row">
    <div class="col-md-4">
        {% if product.images.all %}
        <div id="productCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for image in product.images.all %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <img src="{{ image.image.url }}" class="d-block w-100" alt="{{ product.name }}">
                </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="row mt-3">
            {% for image in product.images.all %}
            <div class="col-3 thumbnail-image">
                <img src="{{ image.image.url }}" class="img-thumbnail" alt="Product Thumbnail">
            </div>
            {% endfor %}
        </div>
        {% endif %}

    </div>
    <div class="col-md-8">
        <div class="row">
            <!-- First Column (Product Details and Shipping Information) -->
            <div class="col-md-12">
                <div class="card mb-3">
                    <div class="card-header">Order Details</div>
                    <div class="card-body">
                        <!-- Order Info -->
                        <p><strong>Status:</strong> {{ order.status|capfirst }}</p>
                        <p><strong>Shipping Status:</strong>
                            {% if order.status == "shipped" %}
                            Shipped
                            {% else %}
                            Not shipped yet
                            {% endif %}
                        </p>
                        <p><strong>Order Date:</strong> {{ order.created_at }}</p>
                        <hr>

                        <!-- Products in Order -->
                        <h5>Products in Order:</h5>
                        <div class="d-none d-md-block">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Shipping</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in order.items.all %}
                                    <tr>
                                        <td>{{ item.product.name }}</td>
                                        <td>£{{ item.price }}</td>
                                        <td>£{{ item.product.shipping }}</td>
                                        <td>£{{ item.product.total_with_shipping }}</td>

                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <div class="d-block d-md-none">
                            {% for item in order.items.all %}
                            <table class="table table-bordered mb-3">
                                <tbody>
                                    <tr>
                                        <th>Name</th>
                                        <td>{{ item.product.name }}</td>
                                    </tr>
                                    <tr>
                                        <th>Price</th>
                                        <td>£{{ item.price }}</td>
                                    </tr>
                                    <tr>
                                        <th>Shipping</th>
                                        <td>£{{ item.product.shipping }}</td>
                                    </tr>
                                    <tr>
                                        <th>Total</th>
                                        <td>£{{ item.product.total_with_shipping }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            {% endfor %}
                        </div>


                        <!-- Order Summary -->
                        <div class="order-summary">
                            <p><strong>Product Cost:</strong> £{{ order.product_cost }}</p>
                            <p><strong>Shipping Cost:</strong> £{{ order.shipping_cost }}</p>
                            <p><strong>Total Amount:</strong> £{{ order.total_amount }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Second Column (Order & Shipping Status and Contact Seller) -->
            <div class="col-md-12">
                <div class="card mb-3">
                    <div class="card-body">
                        {% with seller=order.items.first.seller %}
                        <p><strong>Seller:</strong> {{ seller.username }}</p>
                        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                            data-bs-target="#contactSellerModal">
                            Contact Seller
                        </button>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}