{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags socialaccount %}
{% block content %}

<section class="py-5">
    {% if needs_stripe %}
    <div class="alert alert-warning">
        You need to connect your Stripe account before listing a product.
    </div>
    <h5 class="mb-4">Connect Your Bank Account First</h5>
    <p>To make sure you get paid when your item sells, you first need to connect your bank account. The whole process
        is managed by Stripe and takes a couple of minutes</p>
    <a href="{% url 'create_stripe_express_account' %}" class="btn btn-outline-sell">Connect Bank Account</a>
    {% else %}
    <div class="container px-0 px-md-5">
        <!-- Contact form -->
        <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
            <div class="text-center mb-3">
                {% if error_message %}
                <div class="alert alert-danger">{{ error_message }}</div>
                {% endif %}

                {% if success_message %}
                <div class="alert alert-success">{{ success_message }}</div>
                {% endif %}
                <h1 class="fw-bolder text-center">Tell us about your tackle</h1>
            </div>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <div class="tab">
                    <p class="text-center">The more <strong>accurate</strong> and more
                        <strong>descriptive</strong> you are, the more likely
                        you will <strong>sell</strong> quicker
                    </p>
                    <form method="POST" id="productForm" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-floating mb-3">
                                    <input type="text" name="brand" id="brand" class="form-control" placeholder="Brand"
                                        required>
                                    <label for="brand">Brand<span class="star">*</span></label>
                                    <div id="brand-warning" class="text-danger mb-2 mt-2" style="display: none;">
                                        Please
                                        choose an option from the
                                        search results.</div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-floating mb-3">
                                    <input type="text" name="category" id="category" class="form-control"
                                        placeholder="Category" required>
                                    <label for="category">Category<span class="star">*</span></label>
                                    <div id="category-warning" class="text-danger mb-2 mt-2" style="display: none;">
                                        Please choose an option from the
                                        search results.</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" name="name" id="name" class="form-control" placeholder="Item Name"
                                required>
                            <label for="name">Item Name<span class="star">*</span></label>
                        </div>
                        <div class="row">
                            <p class="text-center mb-1">Add any additional information here about the product. ie.
                                Test curve, size, breaking strain, colour, model</p>
                            <div class="col-sm-6">
                                <div class="form-floating mb-3">
                                    <input type="text" name="more-info-1" id="more-info-1" class="form-control"
                                        placeholder="More Info 1">
                                    <label for="more-info-1">More Info 1</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-floating mb-3">
                                    <input type="text" name="more-info-2" id="more-info-2" class="form-control"
                                        placeholder="More Info 2">
                                    <label for="more-info-2">More Info 2</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <select name="condition" id="condition" class="form-control" required>
                                <option value="" disabled selected>Select condition</option>
                                <option value="PERFECT">Perfect</option>
                                <option value="EXCELLENT">Excellent</option>
                                <option value="GOOD">Good</option>
                                <option value="FAIR">Fair</option>
                            </select>

                            <label for="condition">Condition<span class="star">*</span></label>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea name="description" id="description" class="form-control" style="height: 150px;"
                                placeholder="Description"></textarea>
                            <label for="description">Description</label>
                        </div>
                        <div class="mb-4">
                            <p class="mb-1">Upload Images <span class="star">*</span></p>
                            <input type="file" name="images" id="images" multiple required>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-floating mb-3">
                                    <input type="number" step="0.01" name="price" id="price" class="form-control"
                                        placeholder="Price" required>
                                    <label for="price">Price in £<span class="star">*</span></label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-floating mb-3">
                                    <input type="number" step="0.01" name="shipping" id="shipping" class="form-control"
                                        placeholder="Shipping" required>
                                    <label for="shipping">Shipping in £<span class="star">*</span></label>
                                </div>
                            </div>
                        </div>
                        <div class="checkbox-container mb-4" style="display: flex; align-items: center;">
                            <input type="checkbox" name="confirm" id="confirm" required>
                            <p class="mb-1" style="margin-left: 8px;"> I confirm that the information provided is
                                accurate and I am the legal
                                owner of this item.
                                <span class="star">*</span>
                            </p>
                        </div>

                        <button type="submit" class="btn btn-primary float-end product-button">Submit</button>
                    </form>

                </div>
            </div>
        </div>
    </div>

</section>


{% endif %}
{% endblock %}

{% block page_specific_scripts %}
<script src="{% static 'js/list-product.js' %}"></script>
{% endblock %}