{% extends "base.html" %}
{% load custom_filters %}
{% block content %}
<form method="POST" id="productForm" enctype="multipart/form-data">
    {% csrf_token %}
    <section class="py-5">
        <h2 class="mb-3">Edit Your Product</h2>
        <div class="row">
            <div class="col-sm-2">
                <div class="form-floating mb-3">
                    <input type="number" step="0.01" name="price" id="price" class="form-control" placeholder="Price"
                        value="{{ product.price }}" required>
                    <label for="price">Price in £<span class="star">*</span></label>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-floating mb-3">
                    <input type="number" step="0.01" name="shipping" id="shipping" class="form-control"
                        placeholder="Shipping" value="{{ product.shipping }}" required>
                    <label for="shipping">Shipping in £<span class="star">*</span></label>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-floating mb-3">
                    <select name="visibility" id="visibility" class="form-control" required>
                        <option value="" disabled selected>Select visibility</option>
                        {% if product.visibility == "live" %}
                        <option value="live">Live</option>
                        {% else %}
                        <option value="live">Live</option>
                        {% endif %}
                        {% if product.visibility == "draft" %}
                        <option value="draft" selected>Draft</option>
                        {% else %}
                        <option value="draft">Draft</option>
                        {% endif %}


                    </select>
                    <label for="visibility">Visibility</label>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-floating mb-3">
                    <input type="text" name="brand" id="brand" class="form-control" placeholder="Brand"
                        value="{{ product.brand.name }}" required>
                    <label for="brand">Brand<span class="star">*</span></label>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-floating mb-3">
                    <input type="text" name="category" id="category" class="form-control" placeholder="Category"
                        value="{{ product.category.name }}" required>
                    <label for="category">Category<span class="star">*</span></label>
                </div>
            </div>
        </div>

        <div class="form-floating mb-3">
            <input type="text" name="name" id="name" class="form-control" placeholder="Item Name"
                value="{{ product.name }}" required>
            <label for="name">Item Name<span class="star">*</span></label>
        </div>

        <div class="row">
            <p class="text-center mb-1">Add any additional information here about the product. ie. Test curve, size,
                breaking strain, colour, model</p>
            <div class="col-sm-6">
                <div class="form-floating mb-3">
                    <input type="text" name="more-info-1" id="more-info-1" class="form-control"
                        placeholder="More Info 1" value="{{ product.variation1 }}">
                    <label for="more-info-1">More Info 1</label>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-floating mb-3">
                    <input type="text" name="more-info-2" id="more-info-2" class="form-control"
                        placeholder="More Info 2" value="{{ product.variation2 }}">
                    <label for="more-info-2">More Info 2</label>
                </div>
            </div>
        </div>

        <div class="form-floating mb-3">
            <textarea name="description" id="description" class="form-control" style="height: 150px;"
                placeholder="Description">{{ product.description }}</textarea>
            <label for="description">Description</label>
        </div>

        <div class="mb-4">
            <p class="mb-1">Existing Images:</p>
            {% for image in product.images.all %}
            <div class="image-wrapper">
                <img src="{{ image.image.url }}" alt="Existing Product Image" width="100" height="100">
                <label>
                    <input type="checkbox" name="delete_images" value="{{ image.id }}"> Delete
                </label>
            </div>
            {% endfor %}
        </div>
        <div class="mb-4">
            <label for="images" class="mb-1">Add New Images:</label>
            <input type="file" name="images" id="images" multiple>
        </div>
        <button type="submit" class="btn btn-success float-end">Save Product</button>
        <button type="button" class="btn btn-danger float-end me-3" data-bs-toggle="modal"
            data-bs-target="#deleteModal">Delete
            Product</button>

        <!-- Delete Confirmation Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete Product</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete this product?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-danger" name="delete_product">Confirm Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>




{% endblock %}