body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.container-footer {
    max-width: 1200px;
    margin: auto;
}

.container-main {
    max-width: 1200px;
    margin: auto;    
}

li .btn {
    margin-right: 5px;
}

.navbar {
  border-bottom: 2px solid #fac28b;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-container {
  max-width: 1300px;
}

.nav-link {
  font-size: 14px;
}

.fa-google {
  margin-right: 8px;
}

.form-control {
  background-color: #f2f2f2;
}

.footer {
  background-color: #fac28b;
  position: relative;
}

.search-bar {
  flex-grow: 1; 
  max-width: 100%;
  margin-left: 40px;
}

.container-header {
  background-color: #fac28b;
}

.container-header .navbar-nav {
  justify-content: flex-end;
}

.container-header li {
  margin-right: 8px;
  color: rgba(0, 0, 0, 0.55)
}

.btn-outline-primary {
  color: #fac28b;
  border-color: #fac28b;;
}

.btn-outline-primary:hover {
  color: white;
  background-color: #fac28b;
  border-color: transparent;
}

.header {
  background-color: #fac28b;
}


.login-container {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: 10px;
  border-radius: 5px;
  margin: 20px;
  background-color: #f2f2f2;
}

.product-image-table {
  height: 50px;
  width: 50px;
}

.image-wrapper {
    display: inline-block;
    position: relative;
    margin: 10px;
}

.image-wrapper img {
    display: block;
    margin-bottom: 10px;
}

.image-wrapper label {
    display: block;
    text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}


.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
}

.large-icon {
    font-size: 2rem;
    margin: auto;
}


/* Mobile Styles */
@media only screen and (max-width: 480px) {
  .search-bar {
    margin: 0;
  }  

  .btn-outline-primary {
    margin: 10px 0;
  }

  .product-title-mobile {
    display: block;
  }

  .container-main {
    margin: 0 20px;
  }

}

/* Tablet Styles */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .btn-outline-primary {
    margin: 10px 0;
  }

}




/* Surface Duo Styles */
@media only screen and (min-width: 500px) and (max-width: 700px) {
    .search-bar {
      margin: 20px 0 0 0 !important;
    }  

    .navbar {
      width: 90%;
      margin: auto;
    }
   
  .btn-outline-primary {
    margin-top: 20px;
  }    
}



