{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6">
            <h1>About Us</h1>
            <p class="lead">
                Welcome to Sell Your Tackle, the leading angler to angler marketplace for fishing enthusiasts.
            </p>
            <p>
                Our mission is to create a seamless platform where fishing aficionados can buy and sell fishing tackle.
                We understand the importance of quality equipment and aim to connect sellers with buyers in a
                trustworthy environment.
            </p>
            <p>
                Whether you're looking to upgrade your gear or find a new home for your pre-loved fishing equipment,
                Sell Your Tackle is the place for you. Join our community and experience the joy of fishing with
                the best gear!
            </p>
        </div>
        <div class="col-lg-6">
            <img src="https://sellyourtackle.s3.eu-west-2.amazonaws.com/Overhead+bivvy+table+3c.jpg"
                alt="About Us Image" class="img-fluid rounded">
        </div>
    </div>



</div>

{% endblock %}