{% extends "base.html" %}
{% load custom_filters %}
{% block content %}
<h1>My Orders</h1>

<!-- Desktop/Laptop Table -->
<table class="table table-hover d-none d-md-table">
    <thead>
        <tr>
            <th>Order Date</th>
            <th></th>
            <th>Products</th>
            <th>Total Cost</th>
            <th>Tracking</th>
        </tr>
    </thead>
    <tbody>
        {% for order in user_orders %}
        <tr onclick="window.location.href='{% url 'order-page' order.id %}';" style="cursor:pointer;">
            <td>{{ order.created_at|date:"M d, Y" }}</td>
            <td>
                {% with item=order.items.first %}
                {% if item %}
                <img src="{{ order_product_images|lookup:item.product.id }}" alt="{{ item.product.name }}"
                    class="product-image-table mr-2">
                {% endif %}
                {% endwith %}
            </td>
            <td>
                {% for item in order.items.all %}
                {{ item.product.name }}<br>
                {% endfor %}
            </td>
            <td>£{{ order.total_amount }}</td>
            <td>
                {% if order.tracking_company and order.tracking_number %}
                {{ order.tracking_company }}: {{ order.tracking_number }}
                {% else %}
                Not Shipped
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>

</table>

<!-- Mobile Table -->
<table class="table table-hover d-md-none">
    <thead>
        <tr>
            <th>Date</th>
            <th></th> <!-- Column for product image -->
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        {% for order in user_orders %}
        <tr onclick="window.location.href='{% url 'order-page' order.id %}';" style="cursor:pointer;">
            <td>{{ order.created_at|date:"M d, Y" }}</td>
            <td>
                {% with item=order.items.first %}
                {% if item %}
                <img src="{{ order_product_images|lookup:item.product.id }}" alt="{{ item.product.name }}"
                    class="product-image-table mr-2">
                {% endif %}
                {% endwith %}
            </td>
            <td>
                {% for item in order.items.all %}
                {{ item.product.name }} (x{{ item.quantity }})<br>
                {% endfor %}
                <strong>Total:</strong> £{{ order.total_amount }}<br>
                <strong>Tracking:</strong>
                {% if order.tracking_company and order.tracking_number %}
                {{ order.tracking_company }}: {{ order.tracking_number }}
                {% else %}
                Not Shipped
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>




<!-- Pagination controls -->
<div class="pagination">
    <span class="step-links">
        {% if user_orders.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ user_orders.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ user_orders.number }} of {{ user_orders.paginator.num_pages }}.
        </span>

        {% if user_orders.has_next %}
        <a href="?page={{ user_orders.next_page_number }}">next</a>
        <a href="?page={{ user_orders.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}