{% extends "base.html" %}

{% block content %}
<h2>My Account</h2>
<section class="py-5">
    <div class="container px-5">
        <!-- Contact form -->
        <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
            <div class="text-center mb-3">
                <h1 class="fw-bolder text-center mb-5">My Account</h1>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">
                    <div class="tab text-center">
                        <div class="row">
                            <div class="col-md-6">
                                <p><strong>Your Tackle For Sale</strong></p>
                                <a class="btn btn-primary" href="{% url 'selling' %}">Sell Your
                                    Tackle</a>
                            </div>
                            <div class="col-md-6">
                                <p><strong>View Your Orders</strong></p>
                                <a class="btn btn-primary" href="{% url 'buying' %}">Sell Your
                                    Tackle</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>




</section>

{% endblock %}