{% extends "base.html" %}
{% load custom_filters %}
{% block content %}
<h2 class="mb-3">Selling</h2>
<div class="row">
    <p>Click on the product for more details</p>
    <!-- Desktop/Laptop Table -->
    <table class="table table-hover d-none d-md-table">
        <thead>
            <tr>
                <th>Live</th>
                <th>Name</th>
                <th>Condition</th>
                <th>Price</th>
                <th>Shipping</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for product in user_products %}
            {% with image_url=product_images|lookup:product.id %}
            {% if product.financial_status == 'sold' %}
            {% url 'product_sold' product.id as product_url %}
            {% else %}
            {% url 'edit_product' product.id as product_url %}
            {% endif %}
            <tr onclick="window.location.href='{{ product_url }}';">
                <td>
                    {% if product.visibility == 'live' %}
                    <i class="bi bi-dot text-success large-icon"></i>
                    {% else %}
                    <i class="bi bi-dot text-secondary large-icon"></i>
                    {% endif %}
                    {% if image_url %}
                    <img src="{{ image_url }}" alt="{{ product.name }}" class="product-image-table">
                    {% endif %}
                </td>
                <td>{{ product.name }}</td>
                <td>{{ product.condition }}</td>
                <td>£{{ product.price }}</td>
                <td>£{{ product.shipping }}</td>
                <td class="{% if product.financial_status == 'sold' %}sold-text{% endif %}">
                    {{product.financial_status|capfirst }}</td>

            </tr>
            {% endwith %}
            {% endfor %}
        </tbody>
    </table>

    <!-- Mobile Table -->
    <table class="table table-hover d-md-none">
        <thead>
            <tr>
                <th>A</th> <!-- For the dot icon and product image -->
                <th>Name</th> <!-- For the product title -->
                <th>Price</th> <!-- For the product price -->
                <th>Sold</th> <!-- For the product status (sold, etc.) -->
            </tr>
        </thead>
        <tbody>
            {% for product in user_products %}
            {% with image_url=product_images|lookup:product.id %}
            {% if product.financial_status == 'sold' %}
            {% url 'product_sold' product.id as product_url %}
            {% else %}
            {% url 'edit_product' product.id as product_url %}
            {% endif %}
            <tr onclick="window.location.href='{{ product_url }}';">
                <td>
                    <div class="d-flex align-items-center">
                        <!-- Visibility icon -->
                        {% if product.visibility == 'live' %}
                        <i class="bi bi-dot text-success large-icon"></i>
                        {% else %}
                        <i class="bi bi-dot text-secondary large-icon"></i>
                        {% endif %}
                        <!-- Product image -->
                        {% if image_url %}
                        <img src="{{ image_url }}" alt="{{ product.name }}" class="product-image-table ml-2">
                        {% endif %}
                    </div>
                </td>
                <td>
                    <!-- Product title -->
                    <span class="product-title-mobile">{{ product.name }}</span>
                </td>
                <td>
                    <!-- Product price -->
                    £{{ product.price }}
                </td>
                <td>
                    <!-- Product status -->
                    {{ product.financial_status|capfirst }}
                </td>
            </tr>
            {% endwith %}
            {% endfor %}
        </tbody>
    </table>


</div>

{% endblock %}