{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="login-container">
    <h2 class="mb-5">Sign up</h2>
    <form method="post">
        {% csrf_token %}
        {% load socialaccount %}
        <a href="{% provider_login_url 'google' %}" class="btn btn-primary">Sign in with Google</a>

        <div class="g-signin2" data-onsuccess="onSignIn"></div>

        <div class="row">
            <div class="col-md-6">
                {{ form.first_name|as_crispy_field }}
            </div>
            <div class="col-md-6">
                {{ form.last_name|as_crispy_field }}
            </div>
        </div>

        {{ form.email|as_crispy_field }}
        {{ form.password1|as_crispy_field }}
        {{ form.password2|as_crispy_field }}

        <button class="btn btn-primary" type="submit">Sign up</button>
    </form>
</div>
{% endblock %}