{% extends "base.html" %}

{% block content %}
<h2 class="mb-4">My Account Settings</h2>

<div class="row">
    <!-- Left Sidebar for Actions -->
    <div class="col-md-3">
        <div class="list-group mb-4">
            <a href="#info" class="list-group-item list-group-item-action active">Profile</a>
            <a href="#addresses" class="list-group-item list-group-item-action">Addresses</a>
            <a href="{% url 'buying' %}" class="list-group-item list-group-item-action">Orders</a>
        </div>
        {% if request.user.stripe_account_id %}
        <button class="btn btn-outline-sell mb-3" disabled>Bank Account Connected</button>
        {% else %}
        <a href="{% url 'create_stripe_express_account' %}" class="btn btn-outline-sell">Connect Bank Account</a>
        {% endif %}
    </div>

    <!-- Right Content Area -->
    <div class="col-md-9">
        <form method="post" action="{% url 'wallet' %}">
            {% csrf_token %}
            <!-- Personal Information -->
            <div class="row mb-4">
                <h4 class="mb-4" id="info">Personal Information</h4>
                <div class="col-md-4 mb-3">
                    <label class="form-label">Email:</label>
                    <p class="form-control-plaintext">{{ request.user.email }}</p>
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-label">First Name:</label>
                    <p class="form-control-plaintext">{{ request.user.first_name }}</p>
                </div>
                <div class="col-md-4">
                    <label class="form-label">Last Name:</label>
                    <p class="form-control-plaintext">{{ request.user.last_name }}</p>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-md-4 mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username"
                        value="{{ request.user.username }}">
                </div>
                <div class="col-md-4 d-flex align-items-center justify-content-start mt-3">
                    <button type="submit" class="btn btn-outline-sell">Update User Name</button>
                </div>



            </div>

            <!-- Address Information (assuming one billing and one shipping for now) -->
            <div class="row mb-4">
                <h4 class="mb-4" id="addresses">Addresses</h4>

                <!-- Billing Address -->
                <div class="col-md-6 mb-3">
                    <div class="card">
                        <div class="card-header">
                            <h5>Billing Address</h5>
                        </div>
                        <div class="card-body">
                            {% if billing_address %}
                            <address>
                                {{ billing_address.address_line1 }}<br>
                                {{ billing_address.address_line2 }}<br>
                                {{ billing_address.city }}, {{ billing_address.postal_code }}<br>
                            </address>
                            {% else %}
                            <p>No billing address found.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <!-- Shipping Address -->
                <div class="col-md-6 mb-3">
                    <div class="card">
                        <div class="card-header">
                            <h5>Shipping Address</h5>
                        </div>
                        <div class="card-body">
                            {% if shipping_address %}
                            <address>
                                {{ shipping_address.address_line1 }}<br>
                                {{ shipping_address.address_line2 }}<br>
                                {{ shipping_address.city }}, {{ shipping_address.postal_code }}<br>
                            </address>
                            {% else %}
                            <p>No shipping address found.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>



        </form>
    </div>
</div>
{% endblock %}