{% extends "base.html" %}

{% block content %}

<header class="header py-3">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-12 d-block d-sm-none text-center">
                <img class="img-fluid rounded-3" src="static/media/sell-used-fishing-tackle.jpg" alt="..." />
            </div>

            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder">Sell Your Used Tackle</h1>
                    <p class="lead fw-normal mb-4">Welcome to Your Tackle, the new and easy to way
                        to sell your fishing
                        tackle</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                        <a class="btn btn-light btn-lg px-4 me-sm-3" href="{% url 'list-product' %}"><b>Sell Your
                                Tackle</b><i class="fa-solid fa-arrow-right fa-beat" style="margin-left:40px"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5"
                    src="static/media/sell-used-fishing-tackle.jpg" alt="..." /></div>
        </div>
    </div>
</header>




<div class="row mt-4">
    <h2>Recent Products</h2>
    {% for product in products %}
    <div class="col-md-3 mb-4">
        <div class="card d-flex flex-column card-clickable" data-url=" {% url 'product' product.slug %}">
            <div id="product-card-img-container">
                {% for product_image in product.images.all %}
                {% if forloop.first %}
                <img src="{{ product_image.image.url }}" alt="{{ product.name }} image" class="img-fluid card-image"
                    id="product-card-img">
                {% endif %}
                {% endfor %}
            </div>
            <div class="card-body p-4 card-border flex-grow-1">
                <div class="h5 card-title mb-3 text-center">{{ product.name }}</div>
                <div class="row">
                    <div class="col-6 d-flex align-items-start flex-column">
                        <p class="card-text mb-0 card-price">£{{ product.price }}</p>
                    </div>
                    <div class="col-6 d-flex flex-column align-items-end">
                        <p class="card-text mb-0">+ £{{ product.shipping }}</p>
                        <label class="card-shipping"><i>Shipping:</i></label>
                    </div>

                </div>
            </div>
            <a href="{% url 'product' product.slug %}"
                class="card-footer p-4 pt-0 bg-transparent border-top-0 card-border d-flex align-items-center justify-content-center pt-4">
                View Product<i class="fa-solid fa-arrow-right"></i>
            </a>
        </div>
    </div>
    {% endfor %}

</div>



{% endblock %}